
/* 
  bg: #F1FAEE; 
  primary: #1D3557;
  secondary: #E63946;
*/
/*

html{
  scrollbar-width: none;
}

*/

* {
    font-family: Roboto;  
  }
  html{
    scrollbar-width: none;
  }
  body {
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQx_qf-RNSjY-GNo6D91mHu4soNgtYDFNzzSQ&s');
    
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    padding: 1rem;
  }
  
  .card {
    color: rgba(255, 255, 255, .87);
    width: 100%;
    max-width: 58rem;
    min-height: 0rem;
    max-height: 34rem;
    border-radius: 5px;
    box-shadow: 6px 6px 10px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );

    background:url('data:image/svg+xml;utf8,<svg   xmlns="http://www.w3.org/2000/svg" ><defs><linearGradient id="Gradient" x1="0" x2="100" y1="0" y2="0" gradientUnits="userSpaceOnUse"><stop stop-color="rgba(255, 255, 255, .05)" offset="0"/><stop stop-color="rgba(255, 255, 255, .2)" offset="1"/></linearGradient></defs><rect x="0" y="0" width="100%" height="100%" style="height:100%;width:100%" rx="20" ry="20" stroke-width="4" fill="transparent" stroke="url(%23Gradient)"/></svg>'), linear-gradient(to right, rgba(255, 255, 255, .2), rgba(255, 255, 255, .05));
    display: inline-block;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    padding: 2rem 4rem;
    border-radius: 20px;
  }
  
* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.navbar {
  margin: auto;
  padding: 0.5rem 1.5rem;
  background: #6e696941;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.466);
  max-width: 24em;
  
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-link, .drop-down li {
  list-style: none;
  height: 100%;
  padding: 0.5rem 1rem;
  font-weight: 600;
  cursor: pointer;
  z-index: 10;
}

a {
  text-decoration: none;
  color: currentColor;
}
h4 .text{
  margin-left:9px;
  }

.drop-down {
  position: absolute;
  padding: 0.5rem 0;
  margin: 0.5rem -0.5rem;
  background: rgba(250, 235, 215, 0.849);
  color: rgb(0, 0, 0);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  font-size: 12px;
  display: none;
}




.services:hover .drop-down {
  display: block;
}

.services a {
  display: flex;
  align-items: center;
  transform: translateY(4px);
}

.services .dropdown-icon {
  font-size: 18px;
  position: relative;
  right: -5px;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out all;
}

.services:hover .dropdown-icon {
  transform: rotate(180deg);
}

.drop-down li:hover {
  padding-bottom:15px;
  background: rgba(0, 0, 0, 0.247);
  color: #fff;
  border-radius: 0.5rem;
  
}
/*
.content{
  margin-top:50px;
  max-width: 30em;
  text-align: justify;
  border: 1px dotted rgba(250, 235, 215, 0.329);
  padding:15px;
  background-color: rgba(255, 255, 255, 0.158);
  border-radius: 15px;
  opacity: 80%;
}

img{
    width: 230px;
    height: 323px;
    float: right;
    transform: translateY(-22.4em);
    border-radius: 15px;
    position:relative;
    left:-104px
    
}*/
.footer{
  text-align: center;
  opacity:40%;
  transform:translateY(0em);

  p{
    font-family: Brush Script MT;
    font-size: 24px;
    background:none;  
  }

}